# Virtual environment
venv/

# MLflow
mlruns/
mlflow.db

# DVC cache
.dvc/cache/
.dvc/tmp/

# Python
__pycache__/
*.pyc
*.pyo
*.pkl
.DS_Store

# Data (tracked by DVC, not Git)
data/raw/bbc/
data/processed/

# Jupyter
.ipynb_checkpoints/

mlruns/
mlflow.db

.DS_Store
**/.DS_Store